@model int
@{
    var attribute = this.ViewData.ModelMetadata.ContainerType.GetProperty(ViewData.ModelMetadata.PropertyName)
        .GetCustomAttributes(typeof(Judo.ViewTemplates.ButtonAttribute), false)
        .Cast<Judo.ViewTemplates.ButtonAttribute>().FirstOrDefault();

    var controller = attribute.Controller;
    var action = attribute.Action;
    var area = attribute.Area;
    var classes = attribute.Classes;

}
@if (controller != null)
{
    if (action != null)
    {
        <a asp-controller="@controller" asp-action="@action" asp-area="@area" asp-route-id="@Model" class="btn @classes">@(this.ViewData.ModelMetadata.DisplayName ?? "Кнопка")</a>
    }
    else
    {
        <a asp-controller="@controller" asp-action="Index" asp-area="@area" asp-route-id="@Model" class="btn @classes">@(this.ViewData.ModelMetadata.DisplayName ?? "Кнопка")</a>
    }
}
else
{
    <input type="submit" class="btn @classes" value='@(this.ViewData.ModelMetadata.DisplayName??"Кнопка")'>
}
